{% extends "base.html" %} {% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create a building</legend>
      <div class="form-group">
        {{ form.building_name.label(class="form-control-label") }} {% if
        form.building_name.errors %} {{ form.building_name(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.building_name.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.building_name(class="form-control form-control-lg")
        }} {% endif %}
      </div>
      <div class="form-group">
        {{ form.geo_longitude.label(class="form-control-label") }} {% if
        form.geo_longitude.errors %} {{ form.geo_longitude(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.geo_longitude.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.geo_longitude(class="form-control form-control-lg")
        }} {% endif %}
      </div>
      <div class="form-group">
        {{ form.geo_latitude.label(class="form-control-label") }} {% if
        form.geo_latitude.errors %} {{ form.geo_latitude(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.geo_latitude.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.geo_latitude(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock content %}
